<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trabajo2">
    <uses-feature android:name="android.hardware.camera" android:required="true"/> //permiso para dar
    //acceso a la camara
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> permiso para guardar
    //las fotos en la galeria
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trabajo2">
        <activity
            android:name=".Ventana2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       /*Este archivo es para indicarle a nuestra aplicaciòn donde va a quedar alojado
        nuestra aplicaciòn en el dispositivo*/
        <provider

        android:name="androidx.core.content.FileProvider"
        android:authorities="com.example.android.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/file_paths">
        </meta-data>
        </provider>
    </application>

</manifest>